@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  /* Base Color */
  --clr-primary: #368698;
  --clr-secondary: #D3E9ED;

  /* Accent Color */
  --clr-accent: #EDF2F7;

  /* Font Color */
  --clr-neutral: #1B1B1B;

  /* Background Colour */
  --clr-bg: #FFF;

  --bg-body: var(--clr-bg);
  --text-main: var(--clr-neutral);
  --action-color: var(--clr-primary);

  --fs-1: 0.6rem;
  --fs-2: 0.7rem;
  --fs-3: 0.8rem;
  --fs-4: 1rem;
  --fs-5: 1.1rem;
  --fs-6: 1.5rem;
  --fs-7: 2rem;
  --fs-8: 2.5rem;
  --fs-9: 3rem;
  --fs-10: 4rem;

  /* Padding / Spcacing */
  --spacing-horizontal-1: 1rem;

  --spacing-vertical-1: 0.5rem;

  /* Filter */
  --filter-primary-clr: brightness(0) saturate(100%) invert(49%) sepia(8%) saturate(2646%) hue-rotate(144deg) brightness(92%) contrast(96%);;

  --primary-box-shadow: 0 4px 15px rgba(31, 47, 70, 0.15);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;

  margin: 0 auto;
  max-width: 1920px;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  background-color: var(--clr-bg);
}

h1 {
  font-size: var(--fs-7);
}

h2 {
  font-size: var(--fs-6);
}

h3 {
  font-size: var(--fs-4);
}

h4 {
  font-size: var(--fs-3);
}

p,
label,
input,
a,
button, 
select {
  font-size: var(--fs-3);
}

.smaller-label {
  font-size: var(--fs-2);
}

.even-smaller-label {
  font-size: var(--fs-1);
}

nav a {
  font-size: var(--fs-1);
}

a {
  color: var(--clr-primary);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.hidden {
  display: none !important;
}

.warning-field {
  border: 1px solid red !important;
}

.warning-field:focus {
  outline: none;
  border: 1px solid red !important;
}

.warning-text {
  color: red;
}

.success-text {
  color: green;
}

@media (min-width: 860px) {
  h1 {
    font-size: var(--fs-8);
  }

  h2 {
    font-size: var(--fs-7);
  }

  h3 {
    font-size: var(--fs-5);
  }

  h4 {
    font-size: var(--fs-4);
  }

  p,
  label,
  input,
  a,
  button,
  select {
    font-size: var(--fs-4)
  }

  li a {
    font-size: var(--fs-3)
  }

  .smaller-label {
    font-size: var(--fs-3);
  }

  .even-smaller-label {
    font-size: var(--fs-2);
  }
}