/* Login Modal */
.modal-overlay {
  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  z-index: 1000;

  background-color: rgb(0, 0, 0, 0.1);
}

.login-modal {
  display: flex;
  flex-direction: column;

  width: 18rem;
  padding: 1rem 1.5rem;

  border-radius: 20px;

  box-shadow: 0 0 10px 2px rgb(0, 0, 0, 0.25);

  background-color: white;
}

.login-modal span {
  align-self: flex-end;
  cursor: pointer;
  padding: 0.5rem;
}

.login-modal h3 {
  align-self: center;
  margin: 0.5rem 0 1.5rem;
}

.login-modal form {
  display: flex;
  flex-direction: column;
}

.login-modal .email,
.login-modal .password {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.password div {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
}

.login-modal .email-input,
.login-modal .password-input {
  padding: 0.6rem 0.5rem;

  border: none;
  border-radius: 5px;
  background-color: var(--clr-secondary);
}

.login-modal .email-input:focus,
.login-modal .password-input:focus {
  outline: none;
  border: 1px solid var(--clr-primary);
}

.login-modal .password {
  margin: 1rem 0;
}

.login-modal .password-input {
  width: 100%;
}

.login-modal .toggle-password {
  border: 0;
  background-color: white;
}

.toggle-password i,
.toggle-password svg {
  filter: brightness(0) saturate(100%) invert(49%) sepia(8%) saturate(2646%) hue-rotate(144deg) brightness(92%) contrast(96%);;
}

.login-modal .submit-login-btn {
  align-self: center;

  padding: 0.5rem 1rem;
  margin: 0.5rem 0rem 1rem;

  background-color: var(--clr-primary);
  color: white;
  font-weight: 800;

  border: none;
  border-radius: 10px;

  cursor: pointer;
}

.login-modal .modal-optional-option {
  margin-bottom: 0.5rem;

  text-align: center;
  font-size: var(--fs-3);
}

@keyframes slideDown {
  from {
    transform: translateY(-50px);
    opacity: 0;
  } to {
    transform: translateY(0);
    opacity: 1;
  }
}

.login-modal {
  animation: slideDown 0.5s cubic-bezier(0.24, -0.07, 0, 1.66) forwards;
}

@media (min-width: 768px) {
  .login-modal {
    width: 20rem;
  }
}