/* Navigation Bar */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 5rem;

  padding: var(--spacing-vertical-1) var(--spacing-horizontal-1);
  

  position: sticky;
  top: 0;
  z-index: 2;

  background-color: var(--clr-bg);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.25);
  
  font-size: var(--fs-4);
  font-weight: 700;
}

nav a {
  text-decoration: none;
  color: var(--clr-neutral);
}

nav a:hover {
  text-decoration: none;
}

nav ul {
  display: flex;
  gap: 1rem;
  list-style: none;
}

nav .nav-login-btn {
  padding: 0.5rem 1.5rem;
  border: none;
  border-radius: 20px;
  background-color: var(--clr-primary);
  color: white;
  font-weight: 700;
  cursor: pointer;
}

nav .profile-wrapper {
  position: relative;
}

nav .profile-btn {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

nav .profile-dropdown-container {
  width: 18rem;
  padding: 1rem;

  background-color: white;
  box-shadow: 0 16px 64px 0px #1F2F4666;
  border-radius: 12px;

  position: absolute;
  right: 40%;
  top: calc(100% + 3rem);
}

.profile-dropdown-container::before {
  content: "";
  position: absolute;
  top: -8px;

  right: 20px;

  width: 1rem;
  height: 1rem;
  background: white;
  transform: rotate(45deg);
}

.profile-dropdown-container > p {
  font-size: var(--fs-6);
  margin: 0.5rem 0 1rem;
}


.profile-dropdown li {
  padding: 0.7rem 0;

  border-bottom: 0.5px solid #E6E8EC;
}

li a,
li form {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 500;
}

.profile-dropdown .logout {
  border-bottom: none;
  cursor: pointer;
}

.logout button {
  display: flex;
  align-items: center;
  gap: 1rem;

  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  color: var(--clr-neutral);
  font-weight: 600;
}

nav i,
nav svg {
  filter: var(--filter-primary-clr);
}

@keyframes profileSlideDown {
  from {
    transform: translateY(-50px);
    opacity: 0;
  } to {
    transform: translateY(0);
    opacity: 1;
  }
}

.profile-dropdown-container {
  animation: profileSlideDown 0.3s cubic-bezier(0.24, -0.07, 0.78, 1.18) forwards;
}


/* Footer */
footer {
  width: 100%;
  padding: 1rem 2rem;
  margin-top: auto;

  background-color: var(--clr-primary);
  color: white;

  text-align: center;
  font-size: var(--fs-1);
}

footer p,
footer li a {
  font-size: var(--fs-2);
  font-weight: 400;
}

.footer-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  border-bottom: 1px solid white;
}

.footer-one {
  max-width: 20rem;
}

.footer-one p {
  text-align: center;
  margin: 1rem 0 0.5rem;
}

.footer-two ul,
.footer-three ul{
  display: flex;
  flex-direction: column;
  gap: 1rem;

  margin-top: 1rem;
  list-style: none;
}

.footer-two ul a,
.footer-three ul a {
  width: 100%;
  display: inline-block;
  text-decoration: none;
  color: white;
}

.footer-three {
  margin-bottom: 1rem;
}

.footer-bottom {
  margin-top: 1rem;
}

@media (min-width: 800px) {
  footer {
    padding: 2rem 4rem 1rem;
  }

  footer p,
  footer li a {
    font-size: var(--fs-3);
    font-weight: 400;
  }

  .footer-top {
    flex-direction: row;
    padding-bottom: 2rem;
  }

  .footer-one,
  .footer-one p{
    text-align: justify;
  }

  .footer-one {
    width: 60rem;
  }

  .footer-two {
    margin-left: auto;
  }

  .footer-three {
    margin: 0 auto 0 5rem;
  }

  .footer-two ul a,
  .footer-three ul a {
    text-align: start;
  }
}