/* Navigation Bar */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 5rem;

  padding: var(--spacing-vertical-1) var(--spacing-horizontal-1);
  

  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.25);
  
  font-size: var(--fs-4);
  font-weight: 700;
}

nav a {
  text-decoration: none;
  color: var(--clr-neutral);
}

nav ul {
  list-style: none;
}

nav button {
  padding: 0.5rem 1.5rem;
  border: none;
  border-radius: 20px;
  background-color: var(--clr-primary);
  color: white;
  font-weight: 700;
}


/* Footer */
footer {
  left: 0;
  bottom: 0;
  width: 100%;
  padding: var(--spacing-vertical-1) var(--spacing-horizontal-1);

  background-color: var(--clr-primary);
  color: white;

  text-align: center;
  font-size: var(--fs-1);
}

@media (min-width: 768px) {
  
}