
.search-component {
  margin-left: auto;
  margin-right: auto;
  padding: 0 1rem;
  max-width: 1400px;
}

.search-form {
  position: relative;
  padding: 1rem 1rem;
  box-shadow: var(--primary-box-shadow);
  border-radius: 10px;
  background-color: var(--clr-bg);
  margin: 1rem 0;
}

.search-form form,
.search-form-top,
.search-form-bottom,
.search-date-wrapper {
  display: flex;
  flex-direction: column;
}

.search-form form {
  gap: 1rem;
}

.search-input-wrapper{
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.search-form-top,
.search-form-bottom,
.search-date-wrapper {
  gap: 0.5rem;
}

.trip-type-wrapper,
.driver-wrapper {
  text-align: center;
}

.search-form select {
  appearance: none;
  -webkit-appearance: none;
  background: var(--clr-accent);
  border: none;
  outline: none;
  width: 100%;
  border-radius: 5px;

  padding: 0.5rem 2rem;
  background-image: url('/images/icons/location-pin.svg'), url('/images/icons/chevron-down.svg');
  background-repeat: no-repeat, no-repeat;
  background-position: left 0.3rem center, right 0.3rem center;
  background-size: 1.5rem, 1.2rem;
  cursor: pointer;
}

.trip-type-wrapper input,
.driver-wrapper input{
  accent-color: var(--clr-primary);
}

.search-form input {
  background: var(--clr-accent);
  border: none;
  outline: none;
  border-radius: 5px;

  padding: 0.4rem 0.5rem;
}

.search-form input[type="date"]::-webkit-calendar-picker-indicator{
  background: url(/images/icons/calendar.svg);
  background-size: contain;
  width: 1rem;
  height: 1rem;
  cursor: pointer;
}

.search-form .input-icon-wrapper {
  width: 100%;
  display: flex;
  padding: 0 0.5rem;

  background: var(--clr-accent);
  border-radius: 5px;
}

.search-form .input-icon-wrapper input {
  flex: 1;
}

.submit-search-btn {
  padding: 0.5rem 1.5rem;


  border: none;
  border-radius: 10px;
  outline: none;
  background-color: var(--clr-primary);
  color: white;
  font-weight: 700;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.submit-search-btn:hover {
  transform: scale(1.01);
  transition: transform 0.3s ease;
}

@media (min-width: 860px) {
  .search-component {
    padding: 0 3rem;
  }

  .search-form select,
  .search-form input[type="text"] {
    min-width: 14.25rem;
  }

  .search-form div .date-input {
    min-width: 0rem;
  }

  .trip-type-wrapper .two-way-radio,
  .driver-wrapper .without-driver-radio {
    margin-left: 1rem;
  }
}

@media (min-width: 1100px) {
  .search-form-top,
  .search-form-bottom,
  .search-date-wrapper {
    flex-direction: row;
    gap: 1rem;
  }

  .search-form-top,
  .search-form-bottom {
    justify-content: space-between;
  }
  
  .search-form form {
    flex-direction: row;
    justify-content: space-between;
  }

  .search-form-top {
    margin-bottom: 1rem;
  }

  .submit-search-btn {
    align-self: flex-end;
  }

  .from-to-wrapper {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }
}