.register-wrapper {
  flex: 1;
  display: flex;
  flex-direction: row;
  margin: auto 0;
  padding-top: 5rem;
}

.banner {
  display: none;
}

.register-container {
  max-width: 1920px;
  width: 100%;
  padding: 1rem;
  margin: auto 0;
}

.register-title {
  margin: 1rem 0 3rem;
}

.register-title h1 {
  margin-bottom: 0.5rem;
}

.register-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.register-fields {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.register-fields input {
  padding: 0.8rem 0.5rem;

  border: none;
  border-radius: 5px;
  background-color: var(--clr-secondary);
}

.register-fields input:focus {
  outline: none;
  border: 1px solid var(--clr-primary);
}

.register-terms-checkbox {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;

  margin: 1rem 0;
}

.register-terms-checkbox input {
  accent-color: var(--clr-primary);
}

.signup-btn {
  width: 100%;
  padding: 0.6rem 0;
  margin-bottom: 1rem;

  background-color: var(--clr-primary);
  color: white;
  font-weight: 800;

  border: none;
  border-radius: 10px;

  cursor: pointer;
}

.have-account-text {
  text-align: center;
}

.have-account-text span {
  color: #368698;
  cursor: pointer;
}

.have-account-text span:hover {
  text-decoration: underline;
}

@media (min-width: 800px) {
  .register-wrapper {
    margin: 0;
  }

  .banner {
    flex: 1.5;
    display: flex;
    background-color: #effcff;
    position: relative;
    overflow: hidden;
  }

  .register-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50%;
  }

  .register-container {
    flex: 1;

    padding: 0 3rem 1rem;

  }

  .register-form {
    gap: 1rem;
  }

  @keyframes slideToRight {
    from {
      transform: translateX(-25rem);
      opacity: 0;
    } 
    to {
      transform: translateX(-12rem);
      opacity: 1;
    }
  }
}